<!DOCTYPE html>
<html lang="en">

<head>

    <title>S W A D</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>

    <nav class="container mx-auto flex items-centre justify-between py-2 h-4">
        <div>
            <img class="imageSW py--12 object-scale-down h-48 w-full object-fill "
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlHE9AyIH_6DBZFU_VB63Bys7aLnGthRPCDg&usqp=CAU"
                alt="logo">
        </div>
        <div>
            <ul class="flex h-0  items-centre ">
                <li class="ml-6"><a href="#">Menu</a> </li>
                <li class="ml-6"><a href="#">Offers</a> </li>
                <li class="ml-6"><a href="#">Register</a> </li>
                <li class="ml-6"><a href="#">Login</a> </li>
                <li class="ml-6"><a href="#">Sign Up</a> </li>
                <li class="ml-6 h-28 "><a href="#" class="inline-block px-4 py-2 rounded-full   "><img
                            class="image  object-scale-down h-28 w-full"
                            src="https://image.flaticon.com/icons/png/512/1277/1277803.png"> </a> </li>
            </ul>
        </div>
    </nav>
 
        <%- body %>



    <footer></footer>


    <script src="/js/app.js"></script>
</body>

</html>